// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  overflow-y: hidden;
  ::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
}


.chat-room {
height: 100vh;
overflow-y: scroll;
  .message {
    min-height: 59px;
    .content-container {
      display: inline-block;
      .content {
      background-color: #eeeeee;
      padding: 8px 16px;
      border-radius: 15px;
      }
      .author {
      font-size: 0.8rem;
      color: #777777;
      margin-left: 10px;
      }
    }
    &.me {
      .content-container {
        float: right;
        .content {
          background-color: #007bff;
          color: white;
        }
      }
    }

  }
  .chat-box {
    position: absolute;
    bottom: -10px;
    padding: 20px;
    width: 100%;
    margin-left: -15px;
    background-color: white;
    border-top: 1px solid #eeeeee;
    input[type=text] {
      height: 45px;
      font-size: 18px;
      padding: 8px;
    }
    .btn {
      height: 45px;
    }
  }
}

.room-card {
  text-decoration: none !important;
}
